<header class="header">
  <div class="logo">
    <img src="https://raw.githubusercontent.com/Azuushi/archivo/refs/heads/main/logo.png" alt="Logo Flecha Amarilla" />
  </div>

  <!-- Botón hamburguesa solo en móvil -->
  <button class="hamburger" (click)="menuAbierto = !menuAbierto">
    {{ menuAbierto ? '✖' : '☰' }}
  </button>

  <!-- Menú de navegación -->
  <nav class="nav" [class.open]="menuAbierto">
    <a routerLink="/" routerLinkActive="activo" [routerLinkActiveOptions]="{ exact: true }" (click)="menuAbierto = false">
      INICIO
    </a>
    <a routerLink="/aviso" routerLinkActive="activo" (click)="menuAbierto = false">
      AVISO DE PRIVACIDAD
    </a>
    <a routerLink="/preguntas" routerLinkActive="activo" (click)="menuAbierto = false">
      PREGUNTAS FRECUENTES
    </a>
    <a routerLink="/contacto" routerLinkActive="activo" (click)="menuAbierto = false">
      CONTACTO
    </a>
    <a href="https://www.conectagfa.com.mx/#/es/principal" target="_blank" rel="noopener noreferrer" (click)="menuAbierto = false">
      CONECTA GFA
    </a>
  </nav>
</header>

<router-outlet></router-outlet>
