<main class="contenido">
    <h1>Comunícate con nosotros</h1>

    <div class="contacto-padre">
    <!-- Paquetería -->
    <div class="contacto-container">
        <h2>Paquetería</h2>

        <div class="persona">
        <p class="nombre">Martha Ramírez</p>
        <a class="correo" href="mailto:centerpaq02@flecha-amarilla.com" aria-label="Correo de Martha Ramírez">
            <p>correo&#64;flecha-amarilla.com</p>
        </a>
        </div>

        <div class="persona">
        <p class="nombre">Beatriz Armenta Vera</p>
        <a class="correo" href="mailto:centerpaq03@flecha-amarilla.com" aria-label="Correo de Beatriz Armenta Vera">
            <p>correo&#64;flecha-amarilla.com</p>
        </a>
        </div>

        <div class="persona">
        <p class="nombre">Ruth Rodríguez López</p>
        <a class="correo" href="mailto:jefecenterpaq@flecha-amarilla.com" aria-label="Correo de Ruth Rodríguez López">
            <p>correo&#64;flecha-amarilla.com</p>
        </a>
        </div>
    </div>

    <!-- Envíos primera plus -->
    <div class="contacto-container">
        <h2>Envíos Primera Plus</h2>

        <div class="persona">
        <p class="nombre">Aldo Baruc Mora Valtierra</p>
        <a class="correo" href="mailto:coordenviospplus@flecha-amarilla.com" aria-label="Correo de Aldo Baruc Mora Valtierra">
            <p>correo&#64;flecha-amarilla.com</p>
        </a>
        </div>

        <div class="persona">
        <p class="nombre">Diego Esau Estrada Medina</p>
        <a class="correo" href="mailto:auxeppont@flecha-amarilla.com" aria-label="Correo de Diego Esau Estrada Medina">
            <p>correo&#64;flecha-amarilla.com</p>
        </a>
        </div>
    </div>

    <!-- Primera Plus -->
    <div class="contacto-container">
        <h2>Primera Plus</h2>

        <div class="persona">
        <p class="departamento">Venta de Boletos y Tiempo Aire</p>
        <p class="nombre">Departamento Fiscal</p>
        <a class="correo" href="mailto:cfdiboletoprimeraplus@flecha-amarilla.com" aria-label="Correo del Departamento Fiscal">
            <p>correo&#64;flecha-amarilla.com</p>
        </a>
        </div>
    </div>

    <!-- Consumo de alimentos -->
    <div class="contacto-container">
        <h2>Consumo de Alimentos</h2>

        <div class="persona">
        <p class="nombre">Teresa de Jesús Vargas Ojeda</p>
        <a class="correo" href="mailto:tj.vargas@flecha-amarilla.com" aria-label="Correo de Teresa de Jesús Vargas Ojeda">
            <p>correo&#64;flecha-amarilla.com</p>
        </a>
        </div>

        <div class="persona">
        <p class="nombre">Veronica Noemi Ibarra Rangel</p>
        <a class="correo" href="mailto:vn.ibarra@flecha-amarilla.com" aria-label="Correo de Veronica Noemi Ibarra Rangel">
            <p>correo&#64;flecha-amarilla.com</p>
        </a>
        </div>
    </div>
    </div>
</main>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    